{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div>
                <ul class="nav-container">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todo:list' %}">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'todo:create' %}">Create</a>
                        </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'todo:logout' %}">Logout</a>
                            
                    {% else %}
                        <li class="nav-item">   
                            <a class="nav-link" href="{% url 'todo:login' %}">Login</a>
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link" href="{% url 'todo:register' %}">Register</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% include "global/partials/messages.html" %}
        {% block content %}{% endblock content %}
    </main>
    <footer>

    </footer>
</body>
</html>