* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(194, 220, 248);
}

.message {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(0, 78, 0);
  }
  
.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 2px solid rgba(0, 255, 0, 90%);
}
  
.message.error {
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 90%);
    color: red;
}
  
.message.warning {
    background: rgba(255, 255, 0, 0.3);
    border: 1px solid rgba(255, 255, 0, 90%);
}

.message.info {
    background: rgba(0, 0, 255, 0.3);
    border: 1px solid rgba(0, 0, 255, 0.3);
}
  
.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background: rgb(0, 0, 65);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 65, 0.3);
}

.nav-item {
    list-style-type: none;
    border-radius: 5px;
}

.nav-item:hover {
    background: rgb(0, 0, 46);
    border: 2px solid rgb(0, 0, 104);

}

.nav-link {
    display: block;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
}

.form-container {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 30px;

}

.field-container {
    border-radius: 10px;
    background-color: rgb(231, 231, 255);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
    width: 80%;
    text-align: center;

}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;

}

.label-input {
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 20px;
    color: #333; /* Cor do texto */
    display: inline-block; /* Faz com que o label fique em uma linha separada */
    margin-right: 18px;
    width: 250px;
    text-align: center;
    color: rgb(0, 0, 65);

}
.text-area-field, .text-field {
    background : rgb(250, 248, 255);
    border-radius: 5px;
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    border: 2px solid rgb(185, 186, 207);
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: rgb(0, 0, 65);
}

.submit-button {
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid rgb(28, 51, 153);
    background : rgb(150, 160, 255);
    color: rgb(0, 0, 114);
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer;
    margin: 10px 10px 20px 10px;
    box-shadow: 2px 2px 2px 1px rgba(35, 9, 184, 0.24);

}


.task-list-header {
    color: rgb(128, 148, 236);
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    -webkit-text-stroke: 1px rgb(0, 5, 82);
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse
}

table {
    width: 80%;
}

.table-cel {
    padding: 10px;
    border: 3px solid rgb(0, 0, 65);
    border-radius: 5px;
    text-align: center;
    color: rgb(0, 5, 82);
    font-weight: bold;
    font-size: 22px;
    background: rgb(200, 219, 255);;
}

.tbl-hd {
    background-color: rgb(124, 170, 255);
    color:rgb(0, 5, 82);
    font-size: 28px;
}

.action {
    background-color: rgb(66, 66, 66);
    color: whitesmoke;
}

.button-status {
    margin-left: 20px;
    border: 2px solid rgb(0, 117, 45);
    background: rgb(142, 207, 142);
    padding-inline: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: green;
    font-weight: bold;
}

.del {
    color: rgb(196, 0, 0);
    background: tomato;
    border: 2px solid rgb(211, 0, 0);
}

.link-detail {
    text-decoration: none;
    color: rgb(0, 11, 163);
    transition: transform 0.3s ease;
}
.link-detail:hover {
    color: rgb(0, 15, 221);
}
.shadow:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(231, 231, 255);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
    margin: 50px 200px;
    padding: 10px;
}

.detail-field {
    background-color:rgb(240, 240, 253) ;
    padding: 10px;
    border: 1px solid rgb(211, 211, 248);
    margin: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 122);
    font-size: 25px;
    font-weight: bold;
}
.details-container {
    width:100%;
}

.detail-paragraph {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
    color: rgb(0, 0, 65);
    font-weight: 400;

}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(231, 231, 255);
    border: none;
}

.button-update {
    background : rgb(150, 160, 255);
    cursor: pointer;
    border: 2px solid rgb(28, 51, 153);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(35, 9, 184, 0.24);
}

.link-update {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 114);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

}

.field-container-register {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 255);
    width: 60rem;
    border-radius: 5px;

}


.label-input-register {
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 24px;
    color: #333; /* Cor do texto */
    display: inline-block; /* Faz com que o label fique em uma linha separada */
    margin-right: 18px;
    width: 250px;
    text-align: center;
    color: rgb(0, 0, 65);

}

.field-register-input {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
} 

.submit-button-register {
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid rgb(28, 51, 153);
    background : rgb(150, 160, 255);
    color: rgb(0, 0, 114);
    font-weight: bold; /* Deixa o texto em negrito */
    cursor: pointer;
    margin: 5px 5px 10px 5px;
    box-shadow: 2px 2px 2px 1px rgba(35, 9, 184, 0.24);
}

.finished_at {
    color: green
}

.input-container input {
    color: rgb(0, 0, 65);
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 18px;
}

.greetings-user {

    color: rgb(0, 0, 65);
    font-size: 28px;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.field-errors {
    color: red;
}

.no-task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.no-task-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(21, 21, 145);
    border: 3px solid rgb(87, 200, 252);
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(0, 174, 255);
} 