{% extends "global/base.html" %}

{% block content %}

    <h1 class="task-list-header">Tasks</h1>
    {% if request.user.is_authenticated  %}
        <div class="greetings-user">
            <p>{{request.user}}'s tasks!</p>
        </div>
    {% endif %}
    {% if tasks %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="table-cel tbl-hd">Task</th>
                    <th class="table-cel tbl-hd">Status</th>
                    <th class="table-cel tbl-hd">Created at</th>
                    <th class="table-cel tbl-hd">Fineshed at</th>
                    <th class="table-cel tbl-hd action">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="table-cel shadow">
                            <a class="link-detail " href="{% url "todo:detail" task.id %}">{{task.title}}</a>
                        </td>
                        <td class="table-cel">
                            {% if task.status == "pending" %}
                               {{task.status}} 
                            {% else %}
                                <div class="finished_at">{{task.status}}</div> 
                            {% endif %}
                        </td>                   
                        <td class="table-cel">
                            {{task.created_at}}
                        </td>
                        <td class="table-cel">
                            {% if task.finished_at %}
                                {{task.finished_at}}
                            {% else %}
                                In progress
                            {% endif %}
                        </td>
                        <form action=""></form>
                        <td class="table-cel">
                            {% if task.status == "pending" %}
                                <a class="button-status" href="{% url "todo:status" task.id %}">&#10004;</a>
                            {% endif %}
                            <a class="button-status del" href="{% url "todo:delete" task.id %}">&#10008;</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div>
    {% else %}
        <div class="no-task-container">
            <div class="no-task-info">
                <p>No tasks to do!</p>
            </div>
        </div>
    {% endif %}   
{% endblock content %}