{% extends "global/base.html" %}

{% block content %}
    <form class="form-container" action="{% url "todo:update" task.id %}" method="POST">
        {% csrf_token %}
        <div class="field-container">
            {% for field in form %}
                <div class="input-container">
                    <label class="label-input" for="{{field.id_for_label}}">
                        {{field.label}}:
                    </label> 
                    {{field}}
                    {{field.error}}
                </div>
            {% endfor %}
                
            <button class="submit-button" type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}